* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: black;
  --secondary-color: white;
  --third-color: rgba(255, 255, 255, 0.6);
  --foruth-color: green;
  --fifth-color: blue;
}
/* sidebar css */

.sidebar {
  background: var(--secondary-color);
  color: var(--primary-color);
  border-right: 2px solid var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  transform: translateX(-100%);
  transition: 1s;
}
.sidebar-show {
  transform: translateX(0%);
}
.profile {
  width: 80%;
  padding-bottom: 20px;
  margin: 30px auto;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
  color: var(--primary-color);
}
.profile img {
  width: 150px;
  border-radius: 50%;
}
.profile h1 {
  font-size: 20px;
  margin: 10px 0;
}
.profile p {
  font-size: 18px;
}
.sidebar ul {
  list-style: none;
  margin: 0 auto;
  width: 100%;
}
.sidebar ul li {
  padding: 10px;
  margin: 0 auto;
  font-size: 25px;
  width: 100%;
}
.sidebar ul li a {
  color: var(--primary-color);
  display: block;
  text-decoration: none;
}
.sidebar ul li a span {
  margin: 0 10px;
}
.sidebar ul li a:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.icon {
  display: inline-block;
  padding: 10px 0;
  font-size: 25px;
}

/* sidebar css */

/* menu css */

.menu-position {
  margin: 20px;
  position: fixed;
  top: 20px;
  right: 20px;
}
.menu-position button {
  width: 50px;
}
.menu-position button {
  font-size: 25px;
  font-weight: 700;
}

/* menu css */

/* main css */

.index {
  text-align: justify;
  font-family: Verdana;
  background: var(--secondary-color);
  margin: 10px;
  background-color: rgba(200, 180, 180);
  padding: 20px;
}
.index p {
  margin-bottom: 20px;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 10px;
  text-transform: capitalize;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
}

/* main css */

@media (max-width: 1020px) {
  .sidebar {
    width: 100%;
    border-right: none;
  }
}
